{{> header }}

<section class="container content py-5">

  <h1>Impressum</h1>
  <p>Angaben gemäß § 5 DDG</p>

  <p>
    Damian Schumachers</br>
    BFW Dortmund - Postfach 040905</br>
    Hacheneyer Straße 180</br>
    44265 Dortmund</br>
    Deutschland</br>
  </p>

  <h2>Kontakt</h2>
  <p>
    E-Mail: <a href="mailto:kontakt@damianschumachers.de">kontakt@damianschumachers.de</a>
  </p>

  <h2>Verantwortlich für den Inhalt</h2>
  <p>
    Damian Schumachers</br>
    BFW Dortmund - Postfach 040905</br>
    Hacheneyer Straße 180</br>
    44265 Dortmund</br>
    Deutschland</br>
  </p>

  <h2>Haftung für Inhalte</h2>
  <p>
    Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt.
    Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte
    übernehme ich jedoch keine Gewähr.
  </p>

  <h2>Haftung für Links</h2>
  <p>
    Diese Website kann Links zu externen Websites Dritter enthalten.
    Auf deren Inhalte habe ich keinen Einfluss. Für diese fremden Inhalte
    übernehme ich keine Verantwortung.
  </p>

  <h2>Urheberrecht</h2>
  <p>
    Die auf dieser Website erstellten Inhalte und Werke unterliegen dem
    deutschen Urheberrecht. Eine Vervielfältigung, Bearbeitung oder
    Verbreitung außerhalb der Grenzen des Urheberrechts bedarf meiner
    schriftlichen Zustimmung.
  </p>
  <p>Stand: Juli 2026</p>
</section>

{{> footer }}
