{{> header }}

<section class="content">

  <h1>Datenschutzhinweis</h1>
  <p>Diese Website dient ausschließlich zu Bildungs-, Demonstrations- und Präsentationszwecken im Rahmen meines
    Bewerbungsprofils.</p>
  <p>Es werden keine Cookies verwendet. Es werden keine personenbezogenen Daten erhoben, gespeichert, verarbeitet oder
    an Dritte weitergegeben. Die Nutzung dieser Website ist grundsätzlich ohne Angabe personenbezogener Daten möglich.
  </p>
  <p>Bitte beachten Sie, dass beim Aufruf der Website technisch notwendige Verbindungsdaten (z.B. IP-Adresse, Datum und
    Uhrzeit des Zugriffs) durch den Hosting-Anbieter verarbeitet werden können. Auf diese Verarbeitung habe ich keinen
    Einfluss</p>
  <p>Stand: Juni 2026</p>
</section>

{{> footer }}
