{{> header }}

<section class="construction-banner" aria-label="Hinweis zum Seitenstatus">
  <strong>Diese Website befindet sich noch im Aufbau.</strong>
  <span>Inhalte und Funktionen werden laufend erweitert.</span>
</section>

<section class="content projects">
  <h1 class="projects-title">Auswahl meiner Projekte</h1>
  <ul class="project-list">
    <li>
      <h2>Web-Portfolio</h2>
      <div class="tag">
        <img src="../assets/icons/html5-original.svg" alt="HTML5">

        <img src="../assets/icons/css3-original.svg" alt="CSS3">

        <img src="../assets/icons/javascript-original.svg" alt="JavaScript">

        <img src="../assets/icons/php-original.svg" alt="PHP">

        <img src="../assets/icons/nodejs-original.svg" alt="NodeJS">

        <img src="../assets/icons/bootstrap-original.svg" alt="Bootstrap">

        <img src="../assets/icons/mustache-original.svg" alt="Mustache">
      </div>
      <p class="project-description">
        Für die Bewerbungsphase der Ausbildung hab ich mir vorgenommen, eine Website online zu stellen. Auf der einen
        Seite, um mich zu präsentieren. Auf der anderen Seite möchte ich damit auch eine Arbeitsprobe abgeben.


      </p>
    </li>
  </ul>
</section>

{{> footer }}
