{{> header }}
<section class="content skilltree">
  <h1 class="skilltree-title">Mein Skilltree</h1>
  <p>
    Unbekanntem bin ich schon immer neugierig begegnet.
    In Alltäglichem Details zu erkennen. in das große Ganze 
    einzufügen und so Verständnis zu entwickeln, ist für mich 
    oft der erste Motivator und Grund durchzuhalten, wenn es 
    anstrenged wird. Über die Jahre habe ich mir so ein breites 
    Wissensspektrum angeeinget. Meine Kenntnisse, die mir als 
    Softwareentwickler nützlich sein werden, habe ich in diesem Skillltree aufbereitet.
  </p>
    
  <ul class="skilltree-list">
    {{# tree }}
      {{> tree-node }}
    {{/ tree }}
  </ul>
</section>

{{> footer }}
